a {
  text-decoration: none;
}
ul,ol {
  list-style-type: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #FFFFFF;
}
/*#region header*/
.header {
}
.header-nav {
}
.logo {
  font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo:hover,
.logo:focus {
  color: ;
}
.logo-style {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42 ;
}
.item-nav-link {
  font-weight: 500;
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.item-nav-link:hover,
.item-nav-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.item-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.item-address-link:hover,
.item-address-link:focus {
  color:  #404bbf;
}
/*#endregion header*/
/* #region main */
.main {
  
}
.effective-solutions {
  background-color: #2e2f42;
}
.effective-solutions-h {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
.effective-solutions-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}
.effective-solutions-button:hover,
.effective-solutions-button:focus {
  color:  #fff;
  background-color: #404bbf;;
}
.section-one {
}
.Advantages {
}
.section-one-list {
}
.section-one-list-item {
}
.section-one-item-title {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.section-one-list-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* #endregin main */
/* #region team */
.team {
  background-color: #F4F4FD;
}
.team-title {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
text-transform: capitalize;
}
.team-list {
}
.team-list-item {
  background-color: #FFFFFF;
}
.team-item-title {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.team-post {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* #endregion team */
/* #region portfolio */
.portfolio {
}
.portfolio-title {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: cente;
text-transform: capitalize;
}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-item-title {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-item-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.portfolio2 {
}
/* endregion portfolio */
/* #region footer */
.footer {
  background-color: #2e2f42;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-footer:hover,
.logo-footer:focus {
  color:;
}
.logo-style-footer {
  color: #f4f4fd;
}
.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion footer */